@layer reset, tokens, general, specific, states, theme.light, theme.dark, overrides;

@import url("./reset.css") layer(reset);
@import url("./tokens.css") layer(tokens);

@layer overrides {
  /* Visually hidden elements are visible to screen readers */
  .visually-hidden {
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

@media (prefers-color-scheme: light) {
  @layer theme.light {
    :root {
      --site-text-color: var(--colorPrimary);
      --site-background-color: var(--colorSecondary);

      --header-text-color: var(--colorPrimaryInverted);
      --header-background-color: var(--colorSecondaryInverted);

      --default-card-background-color: var(--colorTertiary);
      --accent-card-background-color: var(--colorAccent);

      --footer-text-color: var(--colorAccent);
    }
  }
}

@media (prefers-color-scheme: dark) {
  @layer theme.dark {
    :root {
      --text-color: var(--colorPrimaryInverted);
      --background-color: var(--colorPrimary);
      --disabled-background-color: var(--colorDisabledDark);
      --disabled-text-color: var(--colorDisabledMedium);

      --correct-text-color: var(--colorSuccessDarkTheme);
      --correct-background-color: var(--background-color);
      --wrong-text-color: var(--colorErrorDarkTheme);
      --wrong-background-color: var(--background-color);
    }
  }
}

@layer general {
  body {
    font-family: var(--text-font-family);
    font-size: var(--text-font-size);

    color: var(--site-text-color);
    background-color: var(--site-background-color);
  }

  h2, h3, h4 {
    text-transform: var(--heading-text-transform);
  }

  h2:not(footer h2) {
    width: var(--heading-width);
    margin-block:var(--heading-margin-block);
    margin-inline: var(--heading-margin-inline);

    font-size: var(--heading-font-size);
  }

  h3, footer h2 {
    font-size: var(--subheading-font-size);
  }

  section:not(:first-of-type):not(:nth-of-type(3)) {
    width: var(--content-width);
    margin-inline: var(--content-margin);
  }

  header {
    padding-block: var(--header-padding);

    font-size: var(--header-font-size);

    color: var(--header-text-color);
    background-color: var(--header-background-color);
  }

  header > div {
    display: var(--header-layout);
    justify-content: var(--header-justify-content);
    align-items: var(--header-align-items);

    width: var(--content-width);
    margin-inline: var(--content-margin);
  }

  header img {
    width: var(--logo-width);
  }

  nav {
    display: var(--nav-layout);
    gap: var(--nav-gap);
  }

  #beers li {
    background-color: var(--default-card-background-color);
  }

  #beers ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 15.75rem), 1fr));
    gap: clamp(1rem, 1.5873015873vw, 1.5rem);
  }

  #contact {
    background-color: var(--default-card-background-color);
  }

  #contact > div {
    width: var(--content-width);
    margin-inline: var(--content-margin);
  }

  #events ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 15.75rem), 1fr));
  }

  #events li {
    background-color: var(--accent-card-background-color);
  }

  footer {
    color: var(--footer-text-color);
    background-color: var(--header-background-color);
  }

  footer > div {
    width: var(--content-width);
    margin-inline: var(--content-margin);
  }
}

@layer states {
  a:hover {
    cursor: var(--link-cursor);
  }

  a:hover, a:focus-visible {
    outline: var(--outlineOnFocus) solid var(--header-background-color);
    box-shadow: 0 0 0 var(--shadowOnFocus) var(--header-text-color);
  }
}