@layer reset, tokens, general, specific, states, theme.light, theme.dark, overrides;

@import url("./reset.css") layer(reset);
@import url("./tokens.css") layer(tokens);

@layer overrides {
  /* Visually hidden elements are visible to screen readers */
  .visually-hidden {
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

@media (prefers-color-scheme: light) {
  @layer theme.light {
    :root {
      --site-text-color: var(--colorPrimary);
      --site-background-color: var(--colorSecondary);

      --header-text-color: var(--colorPrimaryInverted);
      --header-background-color: var(--colorSecondaryInverted);

      --default-card-background-color: var(--colorTertiary);
      --accent-card-background-color: var(--colorAccent);

      --footer-text-color: var(--colorAccent);
    }
  }
}

@media (prefers-color-scheme: dark) {
  @layer theme.dark {
    :root {
      --text-color: var(--colorPrimaryInverted);
      --background-color: var(--colorPrimary);
      --disabled-background-color: var(--colorDisabledDark);
      --disabled-text-color: var(--colorDisabledMedium);

      --correct-text-color: var(--colorSuccessDarkTheme);
      --correct-background-color: var(--background-color);
      --wrong-text-color: var(--colorErrorDarkTheme);
      --wrong-background-color: var(--background-color);
    }
  }
}

@layer general {
  body {
    font-family: var(--text-font-family);
    font-size: var(--text-font-size);

    color: var(--site-text-color);
    background-color: var(--site-background-color);
  }

  section:not(:first-of-type):not(:nth-of-type(3)) {
    width: var(--content-width);
    margin-inline: var(--content-margin);
  }

  header {
    padding-block: var(--header-padding);

    font-size: var(--header-font-size);

    color: var(--header-text-color);
    background-color: var(--header-background-color);
  }

  header > div {
    display: var(--header-layout);
    justify-content: var(--header-justify-content);
    align-items: var(--header-align-items);

    width: var(--content-width);
    margin-inline: var(--content-margin);
  }

  header img {
    width: var(--logo-width);
  }

  nav {
    display: var(--nav-layout);
    gap: var(--nav-gap);
  }

  #beers li {
    background-color: var(--default-card-background-color);
  }

  #contact {
    background-color: var(--default-card-background-color);
  }

  #contact > div {
    width: var(--content-width);
    margin-inline: var(--content-margin);
  }

  #events li {
    background-color: var(--accent-card-background-color);
  }

  footer {
    color: var(--footer-text-color);
    background-color: var(--header-background-color);
  }

  footer > div {
    width: var(--content-width);
    margin-inline: var(--content-margin);
  }
}