:root {
  /* Colors | Primitive */
  --black: #393c36;
  --beige: #F6F0E9;
  --green: #b9c0b1;
  --white: #FFFFFF;

  /* Fonts | Primitive */
  --sans-I: 'Trebuchet MS';
  --sans-II: Verdana;
  --sans-III: Arial;
  --sans-IV: Tahoma;
  --serif-I: Georgia;
  --serif-II: 'Times New Roman';

  --textSizeMin: 1rem;
  --textSizeMax: calc(18 / 16 * 1rem);
  --textSizeIdeal: 3.2vw;

  --headerSizeMin: min(5vw, 1rem);
  --headerSizeMax: calc(18 / 16 * 1rem);
  --headerSizeIdeal: 2.7vw;

  --headingSizeMin: calc(24 / 16 * 1rem);
  --headingSizeMax: calc(52 / 16 * 1rem);
  --headingSizeIdeal: 5.7777777778vw;

  --fontWeightMin: 400;
  --fontWeightMax: 600;

  --lineHeightBig: 1.3;
  --lineHeightSmall: 1.1;
  --lineHeightSmallLargeFont: 0.9;
  --lineHeightReset: normal;

  /* Sizing | Primitive */
  --outlineOnFocus: calc(6 / 16 * 1rem);
  --shadowOnFocus: calc(8 / 16 * 1rem);

  --gap-0-I: calc(4 / 16 * 1rem);
  --gap-I: calc(8 / 16 * 1rem);
  --gap-II: 1rem;
  --gap-III: calc(24 / 16 * 1rem);
  --gap-IV: calc(32 /  16 * 1rem);
  --gap-V: calc(48 / 16 * 1rem);

  --contentWidthMin: 1280 / 16 * 1rem;
  --contentWidthMax: 100vw - 2rem;

  --logoWidthMin: min(100%, 180 / 16 * 1rem);
  --logoWidthMax: 75vw;
  --logoWidthIdeal: min(40vw, 360 / 16 * 1rem);

  --navGapMin: var(--gap-I);
  --navGapMax: 1.5873015873vw;
  --navGapIdeal: calc(24 / 16 * 1rem);

  --headingWidth: 90%;
  --siteGapMin: 3.25rem;
  --siteGapMax: 5.7777777778vw;

  --beerDescriptionGapMin: calc(8 / 16 * 1rem);
  --beerDescriptionGapMax: 0.8888888889vw;

  /* Layout | Primitive */
  --centeringMargin: auto;

  /* Colors | Semantic */
  --colorPrimary: var(--black);
  --colorSecondary: var(--beige);
  --colorPrimaryInverted: var(--colorSecondary);
  --colorSecondaryInverted: var(--colorPrimary);
  --colorTertiary: var(--white);
  --colorAccent: var(--green);

  /* Fonts | Semantic */
  --text-font-family: var(--sans-III), var(--sans-II), var(--sans-I), var(--sans-IV), sans-serif;

  --text-font-size: clamp(var(--textSizeMin), var(--textSizeIdeal), var(--textSizeMax));
  --header-font-size: clamp(var(--headerSizeMin), var(--headerSizeIdeal), var(--headerSizeMax));
  --subheading-font-size: var(--text-font-size);

  --heading-text-transform: uppercase;
  --heading-font-weight: var(--fontWeightMax);
  --heading-font-size: clamp(var(--headingSizeMin), var(--headingSizeIdeal), var(--headingSizeMax));

  /* Sizing | Semantic */
  --content-width: min(var(--contentWidthMin), var(--contentWidthMax));

  --header-padding: var(--gap-II);

  --logo-width: clamp(var(--logoWidthMin), var(--logoWidthIdeal), var(--logoWidthMax));

  --nav-gap: clamp(var(--navGapMin), var(--navGapIdeal), var(--navGapMax));

  --heading-width: var(--headingWidth);
  --heading-margin-block: min(var(--siteGapMin), var(--siteGapMax));
  --heading-margin-inline: var(--centeringMargin);

  --beer-card-gap: var(--gap-II);
  --beer-card-padding: var(--gap-II);
  --beer-description-gap: min(var(--beerDescriptionGapMin), var(--beerDescriptionGapMax));
  --beer-details-gap: var(--gap-0-I);

  --events-margin-block-end: calc(var(--heading-margin-block) * 1.5);

  /* Layout | Semantic */
  --content-margin: var(--centeringMargin);

  --header-layout: flex;
  --header-justify-content: space-between;
  --header-align-items: center;

  --nav-layout: flex;

  --beer-card-layout: flex;
  --beer-card-container-type: inline-size;
  --beer-description-layout: flex;
  --beer-description-direction: column;
  --beer-description-flex: 2 1 0;
  --beer-details-layout: flex;
  --beers-details-directiond: column;

  /* Cursor | Semantic */
  --link-cursor: pointer;
}